.App {
  text-align: center;
  background-image: url('/assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/Cairo-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Cairo'), local('Cairo'),
       url('/assets/Cairo-Regular.ttf') format('truetype')
}

* {
  font-family: Cairo;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animation-canvas {
  overflow: hidden;
  width: 100%;
}

.lang-button {
  cursor: pointer;
  transition: all ease 0.2;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.lang-button:hover {
  color: white;
}

.lang-button:active {
  color: black;
}